<div>
  <mat-card class="example-card">
    <img
      mat-card-image
      src="{{ partyData.clubLogo }}"
      alt="club logo"
      class="image"
    />
    <mat-card-content>
      <h3 class="title">{{ partyData.title }}</h3>
      <p class="description">
        <i class="material-icons icon">
          place
        </i>
        <span class="description__text">{{ partyData.location }}</span>
      </p>
      <p class="description">
        <i class="material-icons icon">
          schedule
        </i>
        <span class="description__text"
          >{{ partyData.date }} | {{ partyData.time }}</span
        >
      </p>
    </mat-card-content>

    <mat-card-actions class="actions">
      <button *ngIf="!isGoing" (click)="onGoingClick()" mat-button>
        Want to go?
      </button>
    </mat-card-actions>
  </mat-card>
</div>
