<mat-toolbar color="primary" class="app-header">
  <div
    class="nav-tool-items"
    [class.--justify-flex-end]="!(isAuthenticated$ | async)"
  >
    <div *ngIf="isAuthenticated$ | async">
      <a mat-button [routerLink]="['']" routerLinkActive="mat-accent" router
        >Home</a
      >
      <a mat-button [routerLink]="['/profile']" routerLinkActive="mat-accent"
        >Profile</a
      >
      <a mat-button [routerLink]="['/history']" routerLinkActive="mat-accent"
        >Event History</a
      >
    </div>

    <div *ngIf="!(isAuthenticated$ | async)">
      <a
        mat-button
        [routerLink]="['/login']"
        routerLinkActive="mat-accent"
        router
        >Log in</a
      >
      <a mat-button [routerLink]="['/register']" routerLinkActive="mat-accent"
        >Register</a
      >
    </div>

    <div *ngIf="isAuthenticated$ | async">
      <a mat-button (click)="logOut()" [routerLink]="['/login']">Log out</a>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
